<!--
// Copyright (c) Arctium.
// Licensed under the MIT license. See LICENSE file in the project root for full license information.
-->
@inject IConfiguration Configuration

<div class="mt-4 text-slate-200 text-sm font-medium">
    Use the following to connect to the server: <div class="text-slate-400">@Configuration["GameServerHost"]</div>
</div>
