<!--
// Copyright (c) Arctium.
// Licensed under the MIT license. See LICENSE file in the project root for full license information.
-->
@using Arctium.SimpleRegistration.Components.Static
@using Microsoft.Extensions.Configuration
@using System.Net.Sockets
@using System.Net

@inject IConfiguration Configuration
@attribute [StreamRendering]

@if (_availableServers == null)
{
    <p><em>Loading...</em></p>
}
else @if (Configuration.GetValue<bool>("ShowServers") && _availableServers.Count > 0)
{
    <div class="mt-8 w-96 lg:block">
        <h3 class="text-slate-300 mb-2 text-left text-xl font-medium">Available Servers</h3>

        <div class="gap-4 flex flex-wrap">
            @foreach (var server in _availableServers)
            {
                <div class="bg-gray-700 p-4 w-44 glass-bg from-gray-800 to-gray-900 border-gray-700 relative rounded-lg border bg-gradient-to-br opacity-95 shadow hover:shadow-lg">
                    <p class="text-slate-300 break-words font-semibold">@server.ServerName</p>
                    <p class="text-gray-400 text-sm">Patch: @server.Patch</p>
                    @if (server.OnlineCheckEnabled)
                    {
                        <p class="mt-2 text-xs">
                            Status:
                            <span class="@(server.IsOnline ? "text-green-400" : "text-red-400")">
                                @(server.IsOnline ? "Online" : "Offline")
                            </span>
                        </p>
                    }
                </div>
            }
        </div>
    </div>
}

@code
{
    List<ServerInfo> _availableServers = [];

    protected override async Task OnInitializedAsync()
    {
        _availableServers = Configuration.GetSection("AvailableServers").Get<List<ServerInfo>>() ?? [];

        // TODO: We might want to add a separate service for this.
        // For testing purposes we'll keep it for now.
        foreach (var server in _availableServers)
        {
            if (!server.OnlineCheckEnabled)
                continue;

            try
            {
                using var tcpClient = new TcpClient();

                tcpClient.SendTimeout = 500;

                await tcpClient.ConnectAsync(server.ServerAddress, server.ServerPort);

                server.IsOnline = true;
            }
            catch
            {
                server.IsOnline = false;
            }
        }
    }

    public record class ServerInfo(string ServerName, string Patch, bool OnlineCheckEnabled = false,
                                   string ServerAddress = "", int ServerPort = 0)
    {
        public bool IsOnline { get; set; }
    }
}
