<!--
// Copyright (c) Arctium.
// Licensed under the MIT license. See LICENSE file in the project root for full license information.
-->
@inherits LayoutComponentBase
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<div class="theme-@Configuration["ColorTheme"] bg-gradient-to-b from-gray-900 to-gray-900 min-h-screen relative isolate overflow-hidden">
    <!-- Noisy Blur Overlay -->
    <div class="inset-0 pointer-events-none absolute opacity-10" style="background-image: radial-gradient(circle, rgba(255, 255, 255, 0.02) 1%, transparent 1%); background-size: 4px 4px;"></div>

    <!-- Top Left Polygon -->
    <div class="inset-x-0 -top-40 absolute -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
        <div class="left-[calc(50%-11rem)] aspect-[1155/678] -translate-x-1/2 rotate-[30deg] from-[var(--gradient-color-1)] to-[var(--gradient-color-2)] relative w-[36.125rem] bg-gradient-to-tr opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
             style="clip-path: polygon(
                74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%,
                60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%,
                17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%);
            ">
        </div>
    </div>

    <!-- Main Content -->
    <main class="relative z-10">
        @Body
    </main>

    <!-- Bottom Right Polygon -->
    <div class="inset-x-0 top-[calc(100%-20rem)] absolute -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-40rem)]" aria-hidden="true">
        <div class="aspect-[1155/678] -translate-x-1/2 from-[var(--gradient-color-3)] to-[var(--gradient-color-4)] relative left-[calc(50%+3rem)] w-[36.125rem] bg-gradient-to-tr opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
             style="clip-path: polygon(
                74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%,
                60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%,
                17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%);
            ">
        </div>
    </div>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
